body{
    /* background-color:#869960; */
    font-family: Tahoma,sans-serif;
    font-size: 87%;
    margin: 0;
    padding: 0;
   


}
header{
   
    background-color: #617140;
}
.container{
     max-width: 940px;
    margin: 0 auto;
    background-color:#617140;
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 40px;
}
.content-area{
    border-top: solid 3px #e5e9dc;
    border-bottom: solid 3px #e5e9dc;

}
.item{
    text-indent: 5%;
}

.main-area{
    width: 66%;
    float: left;
    padding-right: 40px;
    box-sizing: border-box;
    padding-top:20px;
    padding-bottom: 20px;
    
}
/* .item{
    width: fit-content;
} */
.sidebar{
    width: 34%;
    float:left;
    
    /* background-color: #e5e9dc; */
    background-image: linear-gradient(to bottom,#e5e9dc,#fff);
    padding:20px 40px;
    box-sizing: border-box;
    font-size: 85%;
}
.group::before,
.group::after{
    content:"";
    display:table;;
}
.group:after{
    clear:both;
}
.group{
    zoom:1;
}
.group ul li{
    list-style: none;
    float: left;
    margin-right: 20px;

}
.ui-menu a{
    display: block;
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    background-image: url(../images/sprites.png);
}
.home a{
    background-position: 0px 0px;
}
.home a:hover{
    background-position: 50px 0px;
}
.profile a{
    background-position: 0px -50px;
}
.settings a{
    background-position: 0px -100px;
}
.profile a:hover{
    background-position: 50px -50px;
}
.settings a:hover{
    background-position: 50px -100px;
}

header h1,p{
    margin: 0px;
}
header h1{
    font-weight: normal;
    font-size: 165%;
}
header{
    color: #ffffff;
    padding-top:20px;
   
}
footer{
    text-align: center;
    color: #999;
    font-size: 60%;
    padding: 20px;
}
.site-nav{
    margin-top: 20px;
}
/* sitenavigation?\ */
.site-nav ul{
    margin:0;
    padding:0;
}
.site-nav li{
    list-style: none;
    float:left;
    margin-right: 0px;
}
.site-nav a{
    display:block;
    color: #fff;
    text-decoration: none;
    padding:10px 20px;
    border:0.5px solid #e5e9dc;
    border-bottom: none;
}
.site-nav a:hover{
    /* background-color: #e5e9dc; */
    background-image: linear-gradient(to bottom, #e5e9dc, #fff);
  
}
img{
    max-width: 100%;
    height: auto;
  
}
.image-banner{
    position: relative;
    padding-top: 20px;
   
}
.image-banner img{
    display: block;
}
.image-description{
    max-width: 500px;
    position: absolute;
    bottom: 0;
    left: 10px;
    box-sizing: border-box;
    color: #fff;
    background-color: #00000080;
    padding-bottom: 0;

}